/* Amanda Adkins */

* {
  background-color: #404040;
  color: #024959;
  font-family: Lucida Sans Unicode;
}
body {
  margin: 1em
}
table {
  padding: 1em;
}
li, td, th {
  background-color: #F2EFDC
}
tr {
  outline: solid #024959 .1em;
  border-width: .1em;
}
li:hover {
  color: #F24C27
}
strong {
  background-color: #F2EFDC;
  color: #024959
}
.textObject {
  background-color: #F2EFDC;
  color: #024959
}
.separatedUnit {
  border: solid;
  border-width: 0.5em;
  border-color: #F24C27;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #F2EFDC;
}

#siteTitle {
  border: solid;
  border-width: 0.5em;
  border-color: #F24C27;
  padding: 0.5em;
  border-radius: 0.5em;
  text-align: center;
  font-family: Georgia;
}

#basicInfo {
  float: left;
  width: 25%;
}
#bigImg {
  width: 95%
}
#caption {
  color: #037E8C;
  margin: 0;
  padding-right: 3em;
  font-style: oblique;
  font-size: 0.75em;
  text-align: right;
}
#experienceDetails {
  float: right;
  width: 68%;
}
#langDetails {
  float: right;
  width: 45%;
}
#courseDetails {
  float: left;
  width: 45%;
}
#photoPanelTitle {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.imageTile:hover {
  width: 20%;
}
.imageTile {
  width: 10%;
  vertical-align: top;
}
#imagesPanel {
  float: right;
  width: 68%;
  margin-top: 1em;
}
