/* Amanda Adkins */

* {
  font-family: Lucida Sans Unicode;
}
#top {
  width: 100%;
  background-color: #1B0B38;
  color: #E814FF;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 5.5em;
  text-align: center;
  box-shadow: 0 0 20px #000;
}
canvas {
  margin: 0 auto;
  width: 52.5em;
  height: 30em;
  box-shadow: 0 0 20px #000;
}
#pageBody {
  margin-top: 5.5em;
  color: #211426;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}
body {
  background-color: #847A82;
}
.newsItem {
  background-color: #FFFFFF;
  box-shadow: 0 0 20px #000;
  display: block;
  float: left;
  font-size: small;
  width: 100%;
  margin-right: 1em;
  margin: 1em;
}
.newsInfo {
  float: left;
  width: 65%;
  margin: 1em;
}
.newsPhoto {
  float: right;
  height: auto;
  width: 25%;
  padding: 1em;
  height: 100%;
}
.newsPhoto a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}
#topBar {
  padding: 2em;
}

.newsError {
  background-color: #FFFFFF;
  box-shadow: 0 0 20px #000;
  display: block;
  float: left;
  font-size: small;
  width: 100%;
  margin-right: -3em;
  margin: 1em;
  padding: 1em;
}

.titleLink a {
  text-decoration: none;
  color: black;
}

.titleLink a:hover{
  text-decoration: none;
  color: #E814FF;
}
