/* Amanda Adkins */

* {
  font-family: Lucida Sans Unicode;
}
p, label, td, th {
  font-size: 0.9em;
}
th {
  font-weight: bold;
}
select {
  margin-bottom: 0.5em;
}
body {
  background-color: #F2EFDF;
}
table {
  border-color: #211426;
  padding: 1em;
}
.clickToSort:hover {
  color: #9BBFAB;
}
td, th {
  outline-width: thin;
  outline-color: #211426;
  outline-style: solid;
  padding: .5em;
  color: #211426;
  width: 8em;
}
#top {
  width: 100%;
  background-color: #413659;
  color: #9BBFAB;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 1em;
  position: fixed;
  height: 5.5em;
}
#searchAddColumn {
  width: auto;
  padding-right: 1em;
  margin-right: 0;
  float: left;
  border-right: solid thin #413659;
}
#movieTableColumn {
  padding-left: 0;
  margin-left: 0;
  float: left;
  width: inherit;
}
#tableWrapper {
  float: right;
}
#fillPadding {
  float: right;
  width: 70%;
}
#pageBody {
  margin-top: 5.5em;
  padding-left: 1.5em;
  background-color: #F2EFDF;
  color: #211426;
}
.textIn {
  width: 15em;
  margin: 0.2em;
}
#deleteButton {
  margin-right: 1em;
  float: right;
}
.deleteCheckbox {
  text-align: center;
}
