/* Amanda Adkins */

* {
  font-family: Lucida Sans Unicode;
}
#top {
  width: 100%;
  background-color: #4E0805;
  color: #B8C591;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 1em;
  position: fixed;
  height: 5.5em;
}
canvas {
  height: 30em;
  width: 45em;
  border-color: #000000;
  border-style: solid;
  margin: 0 auto;
}
#pageBody {
  margin-top: 5.5em;
  padding-left: 1.5em;
  background-color: #F2EFDF;
  color: #211426;
}
