/* Amanda Adkins */

* {
  font-family: Lucida Sans Unicode;
}
#top {
  width: 100%;
  background-color: #010440;
  color: #383B73;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 5.5em;
  text-align: center;
}
body {
  background-image: url('../images/winterbkg2.jpe');
  background-repeat: no-repeat;
  background-size: cover;
}
canvas {
  margin: 0 auto;
  width: 52.5em;
  height: 30em;
  box-shadow: 0 0 20px #000;
}
#pageBody {
  margin-top: 5.5em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}
#gameBorder {
  padding-left: 3em;
  padding-right: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 52.5em;
}
